<h1>Vertical tabs</h1>

{{people | json}}

<lib-ng-vertical-tabs>
  <lib-ng-vertical-tab tabTitle="People List">
    <app-people-list [people]="people" *ngIf="people"
                     (addPerson)="onAddPerson()"
                     (editPerson)="onEditPerson($event)">
    </app-people-list>
  </lib-ng-vertical-tab>
</lib-ng-vertical-tabs>

<ng-template let-person="person" #personEdit>
  <app-person-edit [person]="person" (savePerson)="onPersonFormSubmit($event)"></app-person-edit>
</ng-template>
